[user]
	name = jekkos-t520
	email = jeroen.peelaerts@gmail.com
[core]
	editor = vim
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[diff]
    tool = meld
[mergetool "kdiff3"]
    tool = kdiff3
