# The MySQL server
[mysqld]
port        = 3306
socket        = /tmp/mysql.sock
skip-name-resolve
skip-external-locking
key_buffer = 16M
myisam_sort_buffer_size = 32M
join_buffer_size = 1M
read_buffer_size = 1M
sort_buffer_size = 2M
table_cache = 1024
max_allowed_packet = 1M
query_cache_limit = 12M
query_cache_size = 16M
query_cache_type = 1
net_buffer_length = 8K
read_rnd_buffer_size = 512K
slow_query_log = 1 
slow_query_log_file = /volume1/homes/admin/slowqueries.log
long_query_time = 2
innodb_buffer_pool_size = 128MiB
innodb_log_file_size=32MiB
thread_cache_size=3
table_open_cache=64
tmp_table_size=16MiB
max_heap_table_size=16MiB
